<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Agenda web</title>
    </head>

    <body>
        <h1>Id: <span th:text="${contato.id}"></span></h1> 
        <h1>Nome: <span th:text="${contato.nome}"></span></h1> 
        <h1>Email: <span th:text="${contato.email}"></span></h1>          
    </body>
</html>